<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
<!--    <link rel="stylesheet" type="text/css" href="/CSS/tabs.css">-->
<!--    <script src="/js/tabs.js"></script>-->
</head>
<body>
<p>Admin pane.</p>
<div th:include="/admin/adminMenu :: adminMenu">  </div>

</body>
</html>