<!DOCTYPE html>
<html lang="ru" xmlns="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org " xmlns:th="http://jboss.org/xml/ns/javax/validation/mapping">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:include="/admin/adminMenu :: adminMenu">  </div>
<h1>User management</h1>
<br/>
<br/>
<table>
    <tr th:each="lsr : ${list}">
        <td>Пользователь:</td>
        <td th:text=${lsr.firstName}></td>

        <td>Логин:</td>
        <td th:text=${lsr.username}></td>

        <td>Действия</td>
        <td><a href="">Заблокировать</a>
            <a href="">Удалить</a>
            <a href="">Просмотреть контроллеры</a>
        </td>
    </tr>
</table>
<form th:object="${user}" th:action="@{/admin/users}" method="POST">
    <table>
        <tr><td><p>Добавить пользователя.(простой пасс)</p></td></tr>
        <tr>
            <td><p>Login</p></td><td><p>
            <input type="text" id="username" th:field="*{username}"/>
        </p></td>
            <td><p>First name</p></td><td><p>
            <input type="text" id="first_name" th:field="*{firstName}"/>
        </p></td>
            <td><p>Password</p></td><td><p>
            <input type="password" id="password" th:field="*{password}"/>
        </p></td>
            <td><p><input type="checkbox" th:field="*{enabled}" max="1" min="0"/></p></td>
        </tr>
        <tr><td>p><input type="submit" value="ADD USER"/></p></td></tr>
    </table>


    <
</form>

</body>
</html>