<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">

    <title>Login wiy</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" th:object="${user}" method="post">
    <table align="center">
        <tr>
            <td><p align="center"><font color="white"> Login form</font></p></td>
        </tr>
        <tr><td><p></p></td></tr>
        <tr><td><input type="text" th:field="*{username}"/> </td></tr>
        <tr><td><p></p></td></tr>
        <tr><td><input type="password" th:field="*{password}"/> </td></tr>
<!--        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
        <tr><td><p></p></td></tr>
        <tr><td><p align="center"><input type="submit" value="Login"/></p> </td></tr>

    </table>

</form>



</body>
</html>